@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    padding:0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

img{
width: 100vw;
}

a{
    padding: 20px;
    margin: 3px;
    background-color: darkred;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
}