@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    overflow-y: auto;
    overflow-x: auto;
    height: 100dvh;
    width: 100dvw;
    background: black fixed;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main{
    height: 97vw;
    position: relative;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../pacote-d013/imagens/frame-iphone.png') right center fixed;
 
    height: 627px;
    width: 311px;

}

#tela{
    position: absolute;
    top: 80px;
    left: 22px;
    height: 472px;
    width: 270px;

}