@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

main{
    height: 100vw;
    position: relative;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../pacote-d013/imagens/frame-iphone.png');
    height: 627px;
    width: 311px;

}